data/
results/
.cache/
.dotnet/
.gitconfig
.jupyter/
.local/
.netrc
.profile
.viminfo
.vscode-server/
.vscode
.wget-hsts
wandb/
__pycache__/
*.pt
*.csv
*.ckpt
*.pyc
*.out
*.yaml
*.yml
.ipynb_checkpoints/
baseline_code.py
*.bin
*.pth
*.json
*.png
